@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}